@charset "UTF-8";

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{color: #2B2B2B; text-decoration: none;}
img{vertical-align: top; border: none;}

body{
  font-family: 'Pretendard Variable', sans-serif;
  color: #2B2B2B;
  /* font-family: 'Playfair Display', serif; */
}

#header{
  width: 100%;
  position: fixed;
  z-index: 999;
}
#header.scrolled {
  background-color: #bd2030;
  /* background-color: #ffffff9a; */
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
/* top banner */
/* #header .top-ban{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #BD2031;
  padding: 0 20px;
  box-sizing: border-box;
}
#header .top-ban a{
  color: white;
  font-size: 12px;
  line-height: 30px;
}
#header .top-ban span:last-child{
  color: white;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
} */



#header .wrap-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  box-sizing: border-box;
  position: relative;
}

/* gnb */
#header .wrap-header .menu-btn{
  /* width: 40%; */
  position: absolute;
  top: 30px; left: 30px;
  display: none;
}
#header .wrap-header .gnb-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  z-index: 1001;
  cursor: pointer;
}
#header .wrap-header .gnb-toggle-close{
  display: none;
  cursor: pointer;
  color: white;
}

#header .wrap-header .gnb{
  /* width: 40%; */
  display: flex;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
#header .wrap-header .gnb > li{
  margin: 0 10px;
  position: relative;
}
#header .wrap-header .gnb > li a{
  color: white;
}
#header .wrap-header .gnb li .gnb-sub{
  position: absolute;
  width: 280px;
  top: 40px; left: 0px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  display: none;
  transition: all 0.3s;
}
#header .wrap-header .gnb li .gnb-sub li a{
  color: rgb(71, 71, 71);
}
#header .wrap-header .gnb li .gnb-sub li+li{
  margin-top: 10px;
  transition: all 0.3s;
}
#header .wrap-header .gnb li .gnb-sub li+li:hover{
  text-decoration: underline;
}
#header .wrap-header .gnb li .gnb-sub .title{
  font-size: 18px;
  font-weight: 700;
  color: #2B2B2B;
  margin-bottom: 20px;
}
#header .wrap-header .gnb li .gnb-sub li:last-child{
  position: absolute;
  bottom: 20px; right: 20px;
}
#header .wrap-header .gnb li .gnb-sub li:last-child > img{
  width: 150px;
  border-radius: 5px;
}

#header .wrap-header .gnb li:hover .gnb-sub{
  display: block;
}


#header .wrap-header .logo{
  /* width: 20%; */
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
}
#header .wrap-header .logo a{
  width: 220px;
  margin: 0 auto;
  display: block;
}
#header .wrap-header .logo a > img{
  width: 220px;
}


#header .wrap-header .side-menu{
  /* width: 40%; */
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
#header .wrap-header .side-menu li{
  margin-left: 15px;
}
#header .wrap-header .side-menu li  a{
  transition: all 0.3s;
  color: white;
} 
#header .wrap-header .side-menu li:hover a{
  /* color: #BD2031; */
  color: #204234;
}



/* section 영역------------------------ */


/* main banner 영역 */

#section .main-banner{
  width: 100%;
  height: 923px;
  position: relative;
  top: 0px; left: 0;
  overflow: hidden;
}

/* 메인배너 스와이퍼-=--------- */
#section .main-banner .mainSwiper{
  width: 100%;
  height: 100%;
}

#section .main-banner .mainSwiper::part(bullet) {
  box-sizing: border-box;
  width: 30px;
  height: 3px;
  margin: 0 1px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.507);
}


#section .main-banner .mainSwiper::part(bullet-active) {
  height: 3px;
  background-color: rgb(255, 255, 255);
  width: 60px;
  border-radius: 0;
  transition: all 0.5s;
}

#section .main-banner .mainSwiper .slide {
  width: 20%;
  height: 923px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#section .main-banner .mainSwiper .slide img {
  /* display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; */
}
/* ---------------------------------------- */

#section .main-banner .mainSwiper .bg1{
  background-image: url(images/main_ban_01.png);
}
#section .main-banner .mainSwiper .bg2{
  background-image: url(images/main_ban_02.png);
}
#section .main-banner .mainSwiper .bg3{
  background-image: url(images/main_ban_03.png);
}
#section .main-banner .mainSwiper .bg4{
  background-image: url(images/main_ban_04.png);
}



#section .main-banner .mainSwiper .slide .ban-txt{
  position: absolute;
  color: rgb(243, 243, 243);
}
#section .main-banner .mainSwiper .bg1 .ban-txt{
  top: 40%;
  right: 13%;
  text-align: right;
  color: #ad9ea0;
}
#section .main-banner .mainSwiper .bg2 .ban-txt{
  top: 80%;
  left: 13%;
  text-align: left;
  color: #a56e74;
}
#section .main-banner .mainSwiper .bg3 .ban-txt,
#section .main-banner .mainSwiper .bg4 .ban-txt{
  top: 50%;
  left: 13%;
  text-align: left;
  color: #f7f7f7;
}
#section .main-banner .mainSwiper .slide .ban-txt .m-banner-kr{
  font-size: 18px;
  font-weight: 400;
}
#section .main-banner .mainSwiper .slide .ban-txt .m-banner-en{
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2;
  font-size: 15px;
  margin-top: 5px;
}




/* 브랜드 소개 */

#section .brand-intro{
  display: flex;
  width: 70%;
  margin: 200px auto 0;
}
#section .brand-intro .brand-title{
  width: 60%;
  font-family: 'Playfair Display', serif;
}
#section .brand-intro .brand-title h2{
  color: #BD2031;
  font-size: 76px;
  font-weight: 400;
}
#section .brand-intro .brand-title h3{
  color: #AEAEAE;
  font-size: 44px;
  font-weight: 300;
}
#section .brand-intro .brand-title h3 span{
  color: #2B2B2B;
}
#section .brand-intro .brand-title .img-area{
  text-align: right;
  padding-right: 250px;
  margin-top: 30px;
}
#section .brand-intro .brand-title .img-area img{
  width: 270px;
}

/* option */
.split > span{
  display: inline-block;
}



#section .brand-intro .brand-desc{
  width: 40%;
  padding-top: 100px;
}
#section .brand-intro .brand-desc .s-title{
  font-weight: 700;
  color: #BD2031;
  font-size: 20px;
  margin-bottom: 16px;
}
#section .brand-intro .brand-desc .s-desc{
  color: #2b2b2b; 
  font-size: 16px;
  /* font-weight: 300; */
}
#section .brand-intro .brand-desc .para2,
#section .brand-intro .brand-desc .para3,
#section .brand-intro .brand-desc .para4{
  margin-top: 30px;
}



/* 올해의 컬러 ------------- */

#section .color-of-year{
  width: 100%;
  height: 540px;
  margin-top: 200px;
  background-image: url(images/color-of-years_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
}

#section .color-of-year .wrap-cont{
  width: 60%;
  margin: 0 auto;
  display: flex;
}
#section .color-of-year .wrap-cont .y-img-area{
  width: 50%;
  display: flex;
  justify-content: center;
}
#section .color-of-year .wrap-cont .y-img-area img{
  width: 280px;
}

#section .color-of-year .wrap-cont .y-txt-area{
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section .color-of-year .wrap-cont .y-txt-area h2{
  font-size: 30px;
  font-weight: 600;
}
#section .color-of-year .wrap-cont .y-txt-area p{
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
  line-height: 1.5;
  color: rgb(204, 204, 204);
}
#section .color-of-year .wrap-cont .y-txt-area a.btn{
  display: block;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  width: 165px;
  height: 45px;
  padding-top: 11px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 70px;
  transition: all 0.3s;
}
#section .color-of-year .wrap-cont .y-txt-area a.btn:hover{
  border: 1px solid #BD2031;
  background-color: #BD2031;
}




/* living in color--------------- */

#section .living-in-color{
  margin-top: 200px;
}

#section .section-title{
  color: #2b2b2b;
  font-size: 44px;
  font-weight: 800;
  width: 70%;
  margin: 0 auto 30px;
}

#section .living-in-color .swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#section .living-in-color .swiper-wrapper{
  display: flex;
}
#section .living-in-color .swiper-slide {
  /* width: 1350px; */
  width: 70%;
  height: 530px;
  background: #444;
  border-radius: 20px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
#section .living-in-color .swiper-slide.slide1{
  background-image: url(images/case1.png);
}
#section .living-in-color .swiper-slide.slide2{
  background-image: url(images/case2.png);
}
#section .living-in-color .swiper-slide.slide3{
  background-image: url(images/case3.png);
}
#section .living-in-color .swiper-slide.slide4{
  background-image: url(images/case4.png);
}
#section .living-in-color .swiper-slide.slide5{
  background-image: url(images/case5.png);
}
#section .living-in-color .swiper-slide.slide6{
  background-image: url(images/case6.png);
}

#section .living-in-color .swiper-slide a{
  display: block;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}
#section .living-in-color .swiper-slide h2{
  font-size: 30px;
  font-weight: 500;
}
#section .living-in-color .swiper-slide p{
  font-size: 18px;
  margin-top: 20px;
}

/* 네비게이션 버튼 위치 조정 */
.wrap-nav{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0; left: 50%;
  transform: translateX(-50%);
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 45%;
  cursor: pointer;
}


.swiper-button-prev {
  left: 20px;
}
.swiper-button-prev img,
.swiper-button-next img{
  width: 160px;
}

.swiper-button-next {
  right: 20px
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}



/* color mood--------------------------- */
#section .color-mood{
  margin-top: 200px;
}

#section .color-mood .wrap-mood-cont{
  background-color: #ECF3F9;
}
#section .color-mood .wrap-mood-cont .sub-title{
  width: 70%;
  margin: 0 auto ;
  padding: 60px 0  40px;
}
#section .color-mood .wrap-mood-cont .sub-title h3{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
#section .color-mood .wrap-mood-cont .sub-title p{
  font-size: 18px;
}

/* 슬라이드영역 */
#section .color-mood .wrap-mood-cont .swiper-color-mood{
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide{
  flex-shrink: 0;
  /* width: 420px; */
  height: 320px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
  box-sizing: border-box;
  position: relative;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide a{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  color: #fff;
  text-align: center; 
  overflow: hidden;
  position: absolute;
  top: 0; left: 0;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide a .mm-txt{
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s;
  margin-top: 40px;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide a:hover .mm-txt{
  transform: translateY(-15px);
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide a .hover-txt{
  font-size: 16px;
  font-weight: 300;
  transform: translateY(180px);
  transition: all 0.3s;
  line-height: 1.3;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide a:hover .hover-txt{
  transform: translateY(10px);
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .dummy-slide {
  width: 13% !important;
  height: 1px;
  background: transparent;
  pointer-events: none; /* 클릭 안 되게 */
  /* border: 1px solid blue; */
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .sd1{
  background-image: url(images/color_picks_01.png);
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .sd2{
  background-image: url(images/color_picks_02.png);
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .sd3{
  background-image: url(images/color_picks_03.png);
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .sd4{
  background-image: url(images/color_picks_04.png);
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .sd5{
  background-image: url(images/color_picks_05.png);
}

#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 19px;
  opacity: 0;
  transition: all 0.3s;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide:hover::before{
  opacity: 1;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .sd1::before{
  background-color: #e6c9b3;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .sd2::before{
  background-color: #f0b9b5;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .sd3::before{
  background-color: #C2202C;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .sd4::before{
  background-color: #5F62A0;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .sd5::before{
  background-color: #0C3F3B;
}


#section .color-mood .wrap-mood-cont .swiper-color-mood::part(pagination) {
    position: absolute ;
    top: auto ;
    bottom:0px;
    left: 15% ;
    width: 74.2%;
    box-sizing: border-box;
    height: 3px ;
    background: rgb(187, 187, 187) ; 
    /* 배경은 딱 하나만 써! */
    z-index: 999;
}


/* our picks---------------------------- */
#section .our-picks{
  margin-top: 200px;
}

/* our picks, review  타이틀 영역 공통적용▽▽▽▽▽▽▽▽ */
#section .top-title{
  width: 70%;
  margin: 0 auto ;
  display: flex;
}
#section .top-title h1{
  width: 100%;
}
#section .top-title .more-btn{
  width: 60px;
  height: 25px;
  display: block;
  font-size: 14px;
  color: #BD2031;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  margin-top: 18px;
  border: 1px solid #BD2031;
  transition: all 0.3s;
}
#section .top-title .more-btn:hover{
  color: #fff;
  border: 1px solid #BD2031;
  background-color: #BD2031;
}
/* our picks, review  타이틀 영역 공통적용△△△△△△△△ */


#section .our-picks .item-list{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#section .our-picks .item-list li{
  width: calc(90% / 4 );
  /* width: 327px; */
  /* height: 406px; */
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

#section .our-picks .item-list li .item-img{
  width: 100%;
  aspect-ratio: 4 / 5 ;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
#section .our-picks .item-list li .item-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0; left: 0;
}
#section .our-picks .item-list li .item-img img:last-child{
  opacity: 0;
  transition: all 0.3s;
}
#section .our-picks .item-list li:hover .item-img img:last-child{
  opacity: 1;
}
#section .our-picks .item-list li .item-txt{
  width: 100%;
  margin-top: 30px;
}
#section .our-picks .item-list li .item-txt p{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
#section .our-picks .item-list li .item-txt span{
  font-size: 15px;
  color: #868686;
}



/* review------------------------------- */
#section .review{
  margin-top: 200px;
}
#section .review .review-cont{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#section .review .review-cont li{
  display: flex;
  width: 50%;
  cursor: pointer;
}

#section .review .review-cont li .re-img-area{
  overflow: hidden;
  width: 65%;
}
#section .review .review-cont li .re-img-area img{
  transition: all 0.5s;
  width: 100%;
}
#section .review .review-cont li:hover .re-img-area img{
  transform: scale(1.1);
}

#section .review .review-cont li .re-txt-area{
  width: 35%;
  /* height: 100%; */
  padding: 50px 35px;
  box-sizing: border-box;
  background-color: #F5F6F6;
}
#section .review .review-cont li .re-txt-area h3{
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 100px;
}
#section .review .review-cont li .re-txt-area .star{
  color: #bd2030;
  font-size: 22px;
}
#section .review .review-cont li .re-txt-area .re-title{
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}
#section .review .review-cont li .re-txt-area .re-desc{
  font-size: 16px;
  font-weight: 300;
  color: #454545;
  line-height: 1.3;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section .review .review-cont li .re-txt-area .user{
  font-weight: 700;
}






/* top-btn----------------------------- */
#section .top-btn{
  width: 70px;
  height: 70px;
  background-color: #BD2031;
  position: fixed;
  bottom: 150px;
  right: 50px;
  border-radius: 50%;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
#section .top-btn span{
  color: white;
  line-height: 65px;
  font-size: 34px;
}



/* footer------------------------------------ */
#footer{
  width: 100%;
  background-color: #204234;
  text-align: center;
  color: #F6F6F6;
  padding: 60px 0 30px;
  margin-top: 200px;
}
#footer .logo-f img{
  width: 150px;
}
#footer .company{
  font-size: 14px;
  font-weight: 300;
  margin: 40px 0 30px;
  line-height: 1.5;
}
#footer .explore{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  margin-bottom: 10px;
}
#footer .more li a{
  color: #F6F6F6;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  transition: all 0.3s;
}
#footer .more li a:hover{
  border-bottom: 1px solid #F6F6F6;
}
#footer .sns{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#footer .sns li{
  margin: 0 2.5px;
}
#footer .sns li a img{
  width: 32px
}
#footer .copyright{
  width: 95%;
  margin: 0 auto;
  color: #848D89;
  font-size: 13px;
  font-weight: 300;
  margin-top: 30px;
  border-top: 1px solid #848D89;
  padding-top: 25px;
}





/* 1600px ~ 1716px ------------------------------ */

@media all and (min-width:1600px) and (max-width:1716px){

  #section .review .review-cont li .re-txt-area .re-desc{
  -webkit-line-clamp: 3;
}
}



/* 1450px ~ 1599px ------------------------------ */

@media all and (min-width:1450px) and (max-width:1599px){

  #section .review .review-cont li .re-txt-area h3{
  margin-bottom: 50px;
  font-size: 20px;
}
  #section .review .review-cont li .re-txt-area .re-desc{
  -webkit-line-clamp: 2;
}
}



/* 1280px ~ 1459px ------------------------------ */

@media all and (min-width:1280px) and (max-width:1459px){

  #section .review .review-cont li .re-txt-area h3{
  margin-bottom: 50px;
  font-size: 20px;
}
#section .review .review-cont li .re-txt-area .re-title{
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
  #section .review .review-cont li .re-txt-area .re-desc{
  -webkit-line-clamp: 2;
}
}


/* 900px ~ 1279px ------------------------------ */

@media all and (min-width:900px) and (max-width:1279px){
  #header {
    height: 90px;
  }
  #header .wrap-header{
    padding: 30px 20px;
  }
  #header .wrap-header .menu-btn{
    display: block;
  }
  #header .wrap-header .gnb-toggle {
    display: block;
  }
  #header .wrap-header .gnb{
    display: block;
    width: 300px;
    height: 700px;
    position: fixed;
    top: 35px;
    left: -320px; /* ← 처음에는 왼쪽 화면 밖으로! */
    margin-top: 50px;
    padding-left: 20px;
    border-radius: 0 20px 20px 0;
    background-color: #BD2031;
    transition: left 0.4s ease; /* ← 부드럽게 슬라이드 */
    z-index: 999;
  }
  #header .wrap-header .gnb.active {
    left: 0;
  }
  #header .wrap-header .gnb > li{
    padding-top: 20px;
  }
  #header .wrap-header .gnb > li > a{
    display: block;
    margin-bottom: 10px;
  }
  #header .wrap-header .gnb li .gnb-sub{
    width: 270px;
    position: static;
    border-radius: 0px;
    display: none;
    transition: none;
    padding-left: 30px;
    transform: translateX(-30px);
    overflow: hidden;
  }
  #header .wrap-header .gnb li:hover .gnb-sub{
    display: none;
  }
  #header .wrap-header .gnb li .gnb-sub li:last-child{
    position: static;
    display: none;
  }


  #header .wrap-header .side-menu{
    position: absolute;
    top: 20px; right: 20px;
  }




  /* 브랜드소개 ----------- */
  #section .brand-intro{
  width: 80%;
}
#section .brand-intro .brand-title h2{
  font-size: 66px;
}


/* 올해의 컬러--------------- */
#section .color-of-year .wrap-cont{
  width: 80%;
}


/* 섹션 타이틀 공통적용-------- */
#section .section-title{
  width: 80%;
}


/* living in color--------------- */
#section .living-in-color .swiper-slide {
  width: 80%;
}
#section .living-in-color .swiper-slide h2{
  font-size: 24px;
}
#section .living-in-color .swiper-slide p{
  font-size: 16px;
}

.wrap-nav{
  width: 80%;
}
.swiper-button-prev img,
.swiper-button-next img{
  width: 80px;
}

/* 컬러무드-------------- */
#section .color-mood .wrap-mood-cont .sub-title{
  width: 80%;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide a .mm-txt{
  font-size: 20px;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide a .hover-txt{
  font-size: 14px;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .dummy-slide {
  width: 7% !important;
  
}




/* our picks, review  타이틀 영역 공통적용▽▽▽▽▽▽▽▽ */
#section .top-title{
  width: 80%;
}


/* our picks------------------ */
#section .our-picks .item-list{
  width: 80%;
}
#section .our-picks .item-list li{
  width: calc(95% / 4 );
}
#section .our-picks .item-list li .item-txt p{
  font-size: 17px;
  margin-bottom: 10px;
}
#section .our-picks .item-list li .item-txt span{
  font-size: 14px;
  color: #868686;
}


/* review--------------------- */
#section .review .review-cont li .re-img-area{
  width: 50%;
}
#section .review .review-cont li .re-txt-area{
  width: 50%;
  padding: 20px 20px 0 20px;
}
#section .review .review-cont li .re-txt-area h3{
  font-size: 16px;
  margin-bottom: 20px;
}
#section .review .review-cont li .re-txt-area .star{
  font-size: 16px;
}
#section .review .review-cont li .re-txt-area .re-title{
  font-size: 16px;
  margin: 10px 0;
  display: none;
}
#section .review .review-cont li .re-txt-area .re-desc{
  font-size: 14px;
  color: #454545;
  margin-bottom: 10px;
  -webkit-line-clamp: 4;
  margin-top: 5px;
}
#section .review .review-cont li .re-txt-area .user{
  font-size: 14px;
}

}



/*  ~ 899px ------------------------------ */

@media all  and (max-width:899px){
  #header {
    height: 90px;
  }
  #header .wrap-header{
    padding: 30px 20px;
  }
  #header .wrap-header .menu-btn{
    display: block;
    top: 20px; left: 20px;
  }
  #header .wrap-header .gnb-toggle {
    display: block;
  }
  #header .wrap-header .gnb{
    display: block;
    width: 300px;
    height: 700px;
    position: fixed;
    top: 35px;
    left: -320px; /* ← 처음에는 왼쪽 화면 밖으로! */
    margin-top: 50px;
    padding-left: 20px;
    border-radius: 0 20px 20px 0;
    background-color: #BD2031;
    transition: left 0.4s ease; /* ← 부드럽게 슬라이드 */
    z-index: 999;
  }
  #header .wrap-header .gnb.active {
    left: 0;
  }
  #header .wrap-header .gnb > li{
    padding-top: 20px;
  }
  #header .wrap-header .gnb > li > a{
    display: block;
    margin-bottom: 10px;
  }
  #header .wrap-header .gnb li .gnb-sub{
    width: 270px;
    position: static;
    border-radius: 0px;
    display: none;
    transition: none;
    padding-left: 30px;
    transform: translateX(-30px);
    overflow: hidden;
  }
  #header .wrap-header .gnb li:hover .gnb-sub{
    display: none;
  }
  #header .wrap-header .gnb li .gnb-sub li:last-child{
    position: static;
    display: none;
  }

  #header .wrap-header .logo a{
    width: 160px;
  }
  #header .wrap-header .logo a > img{
    width: 160px;
  }

  #header .wrap-header .side-menu{
    display: none;
  }


/* main banner 영역 */

  #section .main-banner{
    height: 750px;
  }
  #section .main-banner .mainSwiper .slide {
    height: 750px;
  }
  #section .main-banner .mainSwiper .bg1{
    background-image: url(images/main_ban_01_mo.png);
  }
  #section .main-banner .mainSwiper .bg2{
    background-image: url(images/main_ban_02_mo.png);
  }
  #section .main-banner .mainSwiper .bg3{
    background-image: url(images/main_ban_03_mo.png);
  }
  #section .main-banner .mainSwiper .bg4{
    background-image: url(images/main_ban_04_mo.png);
  }

  #section .main-banner .mainSwiper .bg1 .ban-txt{
    top: 80%;
    right: 10%;
    text-align: right;
  }
  #section .main-banner .mainSwiper .bg2 .ban-txt{
    top: 80%;
    left: 5%;
    text-align: left;
    color: #a56e74;
  }
  #section .main-banner .mainSwiper .bg4 .ban-txt{
    top: 82%;
    left: 5%;
    text-align: left;
    color: #f7f7f7;
  }


  #section .main-banner .mainSwiper .slide .ban-txt .m-banner-kr{
    font-size: 15px;
  }
  #section .main-banner .mainSwiper .slide .ban-txt .m-banner-en{
    font-size: 13px;
  }





  /* 브랜드소개 ----------- */
  #section .brand-intro{
    display: block;
    width: 90%;
    margin: 100px auto 0;
  }
  #section .brand-intro .brand-title{
  width: 100%;
}
  #section .brand-intro .brand-title h2{
    font-size: 36px;
  }
  #section .brand-intro .brand-title h3{
    font-size: 26px;
  }
  #section .brand-intro .brand-title .img-area{
    padding-right: 10px;
    margin-top: 0px;
  }
  #section .brand-intro .brand-title .img-area img{
    width: 170px;
  }

  #section .brand-intro .brand-desc{
    width: 95%;
    padding-top: 20px;
  }





/* 올해의 컬러--------------- */
#section .color-of-year{
  width: 100%;
  height: 600px;
  margin-top: 100px;
}
#section .color-of-year .wrap-cont{
  width: 85%;
  display: block;
}
#section .color-of-year .wrap-cont .y-img-area{
  width: 100%;
}
#section .color-of-year .wrap-cont .y-img-area img{
  width: 180px;
}
#section .color-of-year .wrap-cont .y-txt-area{
  width: 100%;
  text-align: center;
}
#section .color-of-year .wrap-cont .y-txt-area h2{
  font-size: 20px;
  margin-top: 30px;
}
#section .color-of-year .wrap-cont .y-txt-area p{
  font-size: 14px;
}
#section .color-of-year .wrap-cont .y-txt-area a.btn{
  margin-left: 50%;
  transform: translateX(-50%);
}


/* 섹션 타이틀 공통적용-------- */
#section .section-title{
  width: 90%;
  font-size: 24px;
  margin: 0 auto 20px;
}


/* living in color--------------- */
#section .living-in-color{
  margin-top: 100px;
}
#section .living-in-color .swiper-slide {
  width: 90%;
}
#section .living-in-color .swiper-slide h2{
  font-size: 16px;
  padding: 0 10px;
}
#section .living-in-color .swiper-slide p{
  font-size: 14px;
}

.wrap-nav{
  width: 90%;
}
.swiper-button-prev,
.swiper-button-next {
  top: 80%;
}
.swiper-button-prev img,
.swiper-button-next img{
  width: 80px;
}






/* 컬러무드-------------- */
#section .color-mood{
  margin-top: 100px;
}
#section .color-mood .wrap-mood-cont .sub-title{
  width: 90%;
  padding: 40px 0  30px;
}
#section .color-mood .wrap-mood-cont .sub-title h3{
  font-size: 18px;
  margin-bottom: 10px;
}
#section .color-mood .wrap-mood-cont .sub-title p{
  font-size: 15px;
}

/* 슬라이드영역 */
#section .color-mood .wrap-mood-cont .swiper-color-mood{
  width: 90%;
  margin: 0 auto;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide a .mm-txt{
  font-size: 18px;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .cont-slide a .hover-txt{
  font-size: 14px;
}
#section .color-mood .wrap-mood-cont .swiper-color-mood .dummy-slide {
  /* width: 1% !important; */
  display: none;
}






/* our picks, review  타이틀 영역 공통적용▽▽▽▽▽▽▽▽ */
#section .top-title{
  width: 90%;
}
#section .top-title .more-btn{
  margin-top: 0px;
}


/* our picks------------------ */
#section .our-picks{
  margin-top: 100px;
}
#section .our-picks .item-list{
  width: 90%;
  flex-wrap: wrap;
}
#section .our-picks .item-list li{
  width: calc(95% / 2 );
}
#section .our-picks .item-list li:nth-child(3),
#section .our-picks .item-list li:nth-child(4){
  margin-top: 20px;
}
#section .our-picks .item-list li .item-txt{
  margin-top: 20px;
}
#section .our-picks .item-list li .item-txt p{
  font-size: 17px;
  margin-bottom: 0px;
}
#section .our-picks .item-list li .item-txt span{
  font-size: 14px;
  color: #868686;
}





/* review--------------------- */
#section .review{
  margin-top: 100px;
}
#section .review .review-cont{
  display: block;
}
#section .review .review-cont li{
  display: block;
  width: 100%;
}
#section .review .review-cont li .re-img-area{
  width: 100%;
}
#section .review .review-cont li .re-txt-area{
  width: 100%;
  padding: 20px 20px 20px 20px;
}
#section .review .review-cont li .re-txt-area h3{
  font-size: 16px;
  margin-bottom: 20px;
}
#section .review .review-cont li .re-txt-area .star{
  font-size: 16px;
}
#section .review .review-cont li .re-txt-area .re-title{
  font-size: 16px;
  margin: 10px 0;
  display: none;
}
#section .review .review-cont li .re-txt-area .re-desc{
  font-size: 14px;
  color: #454545;
  margin-bottom: 10px;
  -webkit-line-clamp: 4;
  margin-top: 5px;
}
#section .review .review-cont li .re-txt-area .user{
  font-size: 14px;
}



/* top-btn----------------------------- */
#section .top-btn{
  display: none;
  opacity: 0;
}




/* footer------------------------------------ */
#footer{
  width: 100%;
  background-color: #204234;
  text-align: center;
  color: #F6F6F6;
  padding: 60px 0 30px;
  margin-top: 0px;
}
#footer .logo-f img{
  width: 100px;
}
#footer .company{
  font-size: 12px;
  margin: 30px 0 30px;
  padding: 0 20px;
}
#footer .explore{
  font-size: 15px;
}
#footer .more li a{
  font-size: 14px;
}
#footer .copyright{
  width: 90%;
  font-size: 10px;
}

}
